<hr class="w-100">
<div class="row" style="padding-top: 25px;">
    <div class="col-3">
        <button class="btn btn-sm btn-primary">Froom Orders</button>
            
    </div>
    <div class="col-3">
        <button class="btn btn-sm btn-primary">Froom Orders</button>
            
    </div>
    <div class="col-3">
        <button class="btn btn-sm btn-primary">Froom Orders</button>
            
    </div>
    <div class="col-3">
        <button class="btn btn-sm btn-primary">Froom Orders</button>
            
    </div>
</div>