<!-- Button to clear selection -->
<!-- <button (click)="clearSelection()">Clear Selection</button> -->
<!-- AG Grid Angular Component -->
<!-- <ag-grid-angular
   style="width: 100%; height: 100%"
   class="ag-theme-alpine"
   [columnDefs]="columnDefs"
   [defaultColDef]="defaultColDef"
   [rowData]="rowData$ | async"
   [rowSelection]="'multiple'"
   [animateRows]="true"
   (gridReady)="onGridReady($event)"
   (cellClicked)="onCellClicked($event)"
 ></ag-grid-angular> -->

<app-side-nav [sidenavTemplateRef]="navContent"  [navWidth]="280" [duration]="1.5"></app-side-nav>
<div class="main-container">
  <app-header></app-header>
  <section>
    <router-outlet></router-outlet>
  </section>
</div>
<ng-template #navContent>
  <app-side-nav-content></app-side-nav-content>
</ng-template>